[submodule "LSPlt"]
	path = loader/src/external/lsplt
	url = https://github.com/PerformanC/LSPlt
[submodule "loader/src/external/xz-embedded"]
	path = loader/src/external/xz-embedded
	url = https://github.com/tukaani-project/xz-embedded.git
